
{% comment %}
    {% render 'element1' , 
        element_corner: section.settings.element_corner,
        backcolor: section.settings.background_color,   
        text_color: section.settings.text_color, 
        font_size: block.settings.element_font_size,
        font_weight: block.settings.element_font_weight,
        element_text: section.settings.element_text,
        element_text2: section.settings.element_text2, 
        show_element_image: section.settings.show_element_image,
        element_first_image: section.settings.element_first_image,
        element_secound_image: section.settings.element_secound_image,
        element_verified: section.settings.element_verified,
        element_verified_image: section.settings.element_verified_image,
        element_tick_position: section.settings.element_tick_position
    %} 
{% endcomment %}
<div class="trustelement {{ element_corner }} {% if element_verified %} {{ element_tick_position }} check {% endif %}" style="background: {{backcolor}};">
    {% if show_element_image and element_tick_position != 'without-user-image' %}
        <div class="trustelement-img">
        {% if element_first_image != blank or element_secound_image != blank %}
            {% if element_first_image != blank %}
                {{ element_first_image | image_url: width: 25, height: 25 | image_tag }}
            {% endif %}
            {% if element_secound_image != blank %}
                {{ element_secound_image | image_url: width: 25, height: 25 | image_tag }}
            {% endif %}
            {% if element_verified %} 
                {% if element_tick_position contains 'verify-check-top-right' %}
                    {% if element_verified_image != blank %}
                        {{ element_verified_image | image_url: width: 14, height: 14 | image_tag }}
                    {% else %}
                        <img src="{{ verify-tick.png | asset_url }}" alt="Trust Element Image" width="14" height="14"/>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}                        
            {% if show_element_image and element_tick_position != 'verify-check-without-image'%}
                <img src="{{ 'trustelementimg1.jpg' | asset_url }}" alt="Trust Element Image" width="25" height="25"/>
                <img src="{{ 'trustelementimg2.jpg' | asset_url }}" alt="Trust Element Image" width="25" height="25" />
            {% endif %}
            {% if element_verified and element_tick_position != 'verify-check-with-content' %} 
                {% if element_verified_image != blank %}
                    {{ element_verified_image | image_url: width: 14, height: 14 | image_tag }}
                {% else %}
                    <img src="{{ 'verify-tick.png' | asset_url }}" alt="Trust Element Image" width="14" height="14"/>
                {% endif %}
            {% endif %} 
        {% endif %}  
        </div>
    {% else %}
        {%if element_verified and element_tick_position contains 'verify-check-without-image' and element_tick_position != 'verify-check-with-content' %} 
            <div class="trustelement-img">
                {% if element_verified_image != blank %}
                    {{ element_verified_image | image_url: width: 14, height: 14 | image_tag }}
                {% else %}
                    <img src="{{ 'verify-tick.png' | asset_url }}" alt="Trust Element Image" width="14" height="14"/>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    <div class="info">
        <div style="color:{{text_color}};">
            <p style="margin: 0; font-size:{{ font_size }}px; font-weight:{{ font_weight }}">
            {{ element_text }} 
            {% if element_tick_position contains 'verify-check-with-content' and element_verified %}
                {% if element_verified_image != blank %}
                    {{ element_verified_image | image_url: width: 14, height: 14 | image_tag }}
                {% else %}
                    <img src="{{ 'verify-tick.png' | asset_url }}" alt="Trust Element Image" width="14" height="14"/>
                {% endif %}
            {% endif %}
            {{ element_text2 }}
            </p>
        </div>
    </div>
</div>