{{ 'benifit_elements.css' | asset_url| stylesheet_tag }}
{% assign for_free = false %}
{% if block.settings.element_text_badge_1 !="" or block.settings.element_text_badge_2 !="" or block.settings.element_text_badge_3 !=""%}
    {% assign for_free = true %}
{% endif %}
<div class="shop-benifit {%if for_free %} for-free {% endif %}{%if block.settings.element_text_title != blank %} instock {% endif %}" style="background: {{ block.settings.background_color }}">    
    {%if block.settings.element_text_title != blank %}    
        <p style="font-size:{{ block.settings.element_font_size_title }}px; color:{{ block.settings.text_color_title }}">{{ block.settings.element_text_title }}</p>
    {% endif %}
    <ul>
    {% if block.settings.element_text_1 != blank %}
      <li>
            {% if block.settings.element_before_image_1 != blank %}
                <span>
                    <img src="{{ block.settings.element_before_image_1 | img_url: "master" }}" alt="Benifit Icon" />
                </span>
            {% endif %}
            <span style="color:{{ block.settings.text_color_1 }}; font-size:{{ block.settings.element_font_size_1 }}px">{{ block.settings.element_text_1 }}</span> 
            {% if block.settings.element_text_badge_1 !="" %}
                <span class="for-free-badge" style="background: {{ block.settings.text_background_badge_1 }};color: {{ block.settings.text_color_badge_1 }}; font-size: 10px; font-weight: 600;">{{ block.settings.element_text_badge_1 }}</span>
            {% endif %}
        </li>
    {% endif %}
    {% if block.settings.element_text_2 != blank %}
        <li>
              {% if block.settings.element_before_image_2 != blank %}
                  <span>
                      <img src="{{ block.settings.element_before_image_2 | img_url: "master" }}" alt="Benifit Icon" />
                  </span>
              {% endif %}
              <span style="color:{{ block.settings.text_color_2 }}; font-size:{{ block.settings.element_font_size_2 }}px">{{ block.settings.element_text_2 }}</span> 
              {% if block.settings.element_text_badge_2 !="" %}
                  <span class="for-free-badge" style="background: {{ block.settings.text_background_badge_2 }};color: {{ block.settings.text_color_badge_2 }}; font-size: 10px; font-weight: 600;">{{ block.settings.element_text_badge_2 }}</span>
              {% endif %}
          </li>
      {% endif %}
      {% if block.settings.element_text_3 != blank %}
        <li>
              {% if block.settings.element_before_image_3 != blank %}
                  <span>
                      <img src="{{ block.settings.element_before_image_3 | img_url: "master" }}" alt="Benifit Icon" />
                  </span>
              {% endif %}
              <span style="color:{{ block.settings.text_color_3 }}; font-size:{{ block.settings.element_font_size_3 }}px">{{ block.settings.element_text_3 }}</span> 
              {% if block.settings.element_text_badge_3 !="" %}
                  <span class="for-free-badge" style="background: {{ block.settings.text_background_badge_3 }};color: {{ block.settings.text_color_badge_3 }}; font-size: 10px; font-weight: 600;">{{ block.settings.element_text_badge_3 }}</span>
              {% endif %}
          </li>
      {% endif %}
    </ul>
</div>

{% schema %}
{
  "name": "Shop Benifit Element",
  "target": "section",
  "settings": [
    { "type": "color", "id": "background_color", "label": "Background Color", "default": "#CECECE" },
    { "type": "text", "id": "element_text_title", "label": "Benifit Tittle", "default": "Auf Lager - in 1-2 Werktagen bei dir" },
    { "type": "color", "id": "text_color_title", "label": "Text Color", "default": "#4CAF50" },
    { "type": "range", "id": "element_font_size_title", "min": 10, "max": 20, "step": 1, "unit": "px", "default": 10, "label": "Font Size"},
    { "type": "header", "content": "Benifit 1"},  
    { "type": "color", "id": "text_color_1", "label": "Text Color", "default": "#000000" },
    { "type": "range", "id": "element_font_size_1", "min": 10, "max": 20, "step": 1, "unit": "px", "default": 14, "label": "Font Size"},
    { "type": "text", "id": "element_text_1", "label": "Benifit Text", "default": "100% natürlich" },
    { "type": "image_picker", "id": "element_before_image_1", "label": "Benifit Before Image" },
    { "type": "text", "id": "element_text_badge_1", "label": "Badge Text" },
    { "type": "color", "id": "text_background_badge_1", "label": "Text Color", "default": "#5C83E8" },
    { "type": "color", "id": "text_color_badge_1", "label": "Text Color", "default": "#fff" },
    

    { "type": "header", "content": "Benifit 2"},  
    { "type": "color", "id": "text_color_2", "label": "Text Color", "default": "#000000" },
    { "type": "range", "id": "element_font_size_2", "min": 10, "max": 20, "step": 1, "unit": "px", "default": 14, "label": "Font Size"},
    { "type": "text", "id": "element_text_2", "label": "Benifit Text", "default": "100% natürlich" },
    { "type": "image_picker", "id": "element_before_image_2", "label": "Benifit Before Image" },
    { "type": "text", "id": "element_text_badge_2", "label": "Badge Text"},
    { "type": "color", "id": "text_background_badge_2", "label": "Text Color", "default": "#5C83E8" },
    { "type": "color", "id": "text_color_badge_2", "label": "Text Color", "default": "#000000" },

    { "type": "header", "content": "Benifit 3"},  
    { "type": "color", "id": "text_color_3", "label": "Text Color", "default": "#000000" },
    { "type": "range", "id": "element_font_size_3", "min": 10, "max": 20, "step": 1, "unit": "px", "default": 14, "label": "Font Size"},
    { "type": "text", "id": "element_text_3", "label": "Benifit Text", "default": "100% natürlich" },
    { "type": "image_picker", "id": "element_before_image_3", "label": "Benifit Before Image" },
    { "type": "text", "id": "element_text_badge_3", "label": "Badge Text" },
    { "type": "color", "id": "text_background_badge_3", "label": "Text Color", "default": "#5C83E8" },
    { "type": "color", "id": "text_color_badge_3", "label": "Text Color", "default": "#000000" }
  ]
}
{% endschema %}

