{{ 'countdown_element.css' | asset_url| stylesheet_tag }}
{% if block.settings.element_deal_box == 'deal2' %}
  {% render 'countdowndeal_2',
    block: block,
    date_picker: block.settings.element_date_picker,
    box_background: block.settings.element_background_color,
    discount_heading: block.settings.element_discount_heading,   
    discount_backcolor: block.settings.element_discount_background_color, 
    discount_textcolor: block.settings.element_discount_text_color,
    deal_heading: block.settings.element_deal_heading,
    deal_backcolor: block.settings.element_deal_background_color, 
    deal_textcolor: block.settings.element_deal_text_color,
    dealsub_heading: block.settings.element_dealsub_heading,
    dealsub_backcolor: block.settings.element_dealsub_background_color, 
    dealsub_textcolor: block.settings.element_dealsub_text_color,
    countdown_backcolor: block.settings.element_countdown_background_color,
    countdown_textcolor: block.settings.element_countdown_text_color,
    countdown_text: block.settings.element_countdown_text,
    show_days: block.settings.show_days,
    show_hours: block.settings.show_hours,
    show_minutes: block.settings.show_minutes,
    show_seconds: block.settings.show_seconds
  %}

{% elsif block.settings.element_deal_box == 'deal3' %}
  {% render 'countdowndeal_3',
    block: block,
    date_picker: block.settings.element_date_picker,
    box_background: block.settings.element_background_color,
    discount_heading: block.settings.element_discount_heading,   
    discount_backcolor: block.settings.element_discount_background_color, 
    discount_textcolor: block.settings.element_discount_text_color,
    deal_heading: block.settings.element_deal_heading,
    deal_backcolor: block.settings.element_deal_background_color, 
    deal_textcolor: block.settings.element_deal_text_color,
    dealsub_heading: block.settings.element_dealsub_heading,
    dealsub_backcolor: block.settings.element_dealsub_background_color, 
    dealsub_textcolor: block.settings.element_dealsub_text_color,
    countdown_backcolor: block.settings.element_countdown_background_color,
    countdown_textcolor: block.settings.element_countdown_text_color,
    countdown_text: block.settings.element_countdown_text,
    show_days: block.settings.show_days,
    show_hours: block.settings.show_hours,
    show_minutes: block.settings.show_minutes,
    show_seconds: block.settings.show_seconds
  %}
{% else %}
  {% render 'countdowndeal_1',
    block: block,
    date_picker: block.settings.element_date_picker,
    box_background: block.settings.element_background_color,
    discount_heading: block.settings.element_discount_heading,   
    discount_backcolor: block.settings.element_discount_background_color, 
    discount_textcolor: block.settings.element_discount_text_color,
    deal_heading: block.settings.element_deal_heading,
    deal_backcolor: block.settings.element_deal_background_color, 
    deal_textcolor: block.settings.element_deal_text_color,
    dealsub_heading: block.settings.element_dealsub_heading,
    dealsub_backcolor: block.settings.element_dealsub_background_color, 
    dealsub_textcolor: block.settings.element_dealsub_text_color,
    countdown_backcolor: block.settings.element_countdown_background_color,
    countdown_textcolor: block.settings.element_countdown_text_color,
    countdown_text: block.settings.element_countdown_text,
    show_days: block.settings.show_days,
    show_hours: block.settings.show_hours,
    show_minutes: block.settings.show_minutes,
    show_seconds: block.settings.show_seconds
   %}
{% endif %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let countdownFunctions = [];

    // Function to start a countdown
    function startCountdown(date, countdownElementId, box_type, show_days, show_hours, show_minutes, show_seconds) {
        // Clear any existing countdown for this target
        clearInterval(countdownFunctions[countdownElementId]);
        
        const targetDate = new Date(date).getTime();
        
        countdownFunctions[countdownElementId] = setInterval(() => {
        const now = new Date().getTime();
        const distance = targetDate - now;

        // Calculate time components
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);
        if(box_type != "deal2"){
            // Update DOM for each countdown
            if(show_days){
            document.getElementById(`days_${countdownElementId}`).innerText = String(days).padStart(2, '0');
            }
            if(show_hours){
            document.getElementById(`hours_${countdownElementId}`).innerText = String(hours).padStart(2, '0');
            }
            if(show_minutes){
            document.getElementById(`minutes_${countdownElementId}`).innerText = String(minutes).padStart(2, '0');
            }
            if(show_seconds){
            document.getElementById(`seconds_${countdownElementId}`).innerText = String(seconds).padStart(2, '0');
            }
        }else{
            if(show_days){
            document.querySelector(`.days_${countdownElementId}.tens`).textContent = days.toString().padStart(2, '0')[0];
            document.querySelector(`.days_${countdownElementId}.units`).textContent = days.toString().padStart(2, '0')[1];
            }
            if(show_hours){
            document.querySelector(`.hours_${countdownElementId}.tens`).textContent = hours.toString().padStart(2, '0')[0];
            document.querySelector(`.hours_${countdownElementId}.units`).textContent = hours.toString().padStart(2, '0')[1];
            }
            if(show_minutes){
            document.querySelector(`.minutes_${countdownElementId}.tens`).textContent = minutes.toString().padStart(2, '0')[0];
            document.querySelector(`.minutes_${countdownElementId}.units`).textContent = minutes.toString().padStart(2, '0')[1];
            }
            if(show_seconds){
            document.querySelector(`.seconds_${countdownElementId}.tens`).textContent = seconds.toString().padStart(2, '0')[0];
            document.querySelector(`.seconds_${countdownElementId}.units`).textContent = seconds.toString().padStart(2, '0')[1];
            }
        }
        // When the countdown reaches zero
        if (distance < 0) {
            clearInterval(countdownFunctions[countdownElementId]);
            document.getElementById(`countdown-${countdownElementId}`).innerHTML = "<h1>The New Year is here!</h1>";
        }
        }, 1000);
    }
      // Start multiple countdowns with different target dates
      startCountdown("{{ block.settings.element_date_picker }}", "{{ block.id | split: '_' | last | handle }}", "{{block.settings.element_deal_box}}", {{block.settings.show_days}}, {{block.settings.show_hours}}, {{block.settings.show_minutes}}, {{block.settings.show_seconds}});
    
  });      
</script> 
{% schema %}
{
  "name": "Countdown Timer Element",
  "target": "section",
  "settings": [
    { "type": "select", "id": "element_deal_box", "options": [{ "value": "deal1", "label": "Deal 1" },{ "value": "deal2", "label": "Deal 2" },{ "value": "deal3", "label": "Deal 3" }], "default": "deal1", "label": "Deal Countdown Styles" },
    { "type": "text", "label": "Select a date", "id": "element_date_picker", "default": "January 1, 2025 00:00:00" },
    { "type": "color", "id": "element_background_color", "label": "Box Background Color", "default": "#202020" },
    { "type": "inline_richtext", "id": "element_discount_heading", "label": "Discount", "default": "-25%" },
    { "type": "color", "id": "element_discount_background_color", "label": "Discount Background Color", "default": "#ADADAD" },    
    { "type": "color", "id": "element_discount_text_color", "label": "Discount Text Color", "default": "#fff" },
    { "type": "inline_richtext", "id": "element_deal_heading", "label": "Deal Heading", "default": "Launch" },    
    { "type": "color", "id": "element_deal_text_color", "label": "Deal Text Color", "default": "#fff" },
    { "type": "inline_richtext", "id": "element_dealsub_heading", "label": "Deal Subheading", "default": "Sale" },    
    { "type": "color", "id": "element_dealsub_text_color", "label": "Deal Text Color", "default": "#fff" },

    { "type": "color", "id": "element_countdown_background_color", "label": "Countdown Background Color", "default": "#ADADAD" },    
    { "type": "color", "id": "element_countdown_text_color", "label": "Countdown Text Color", "default": "#fff" },
    { "type": "textarea", "id": "element_countdown_text", "label": "Countdown static content", "default": "Days, Hours, Minutes", "info": "Please add content in comma separator." },
    { "type": "checkbox", "id": "show_days", "label": "Show Days", "default": true },
    { "type": "checkbox", "id": "show_hours", "label": "Show Hours", "default": true },
    { "type": "checkbox", "id": "show_minutes", "label": "Show Minutes", "default": true },
    { "type": "checkbox", "id": "show_seconds", "label": "Show Seconds", "default": false }    
  ]
}
{% endschema %}