{{ 'usp_elements.css' | asset_url| stylesheet_tag }}
{% if block.settings.upsell_product %}
    {% assign upsell_product = block.settings.upsell_product %}
    <div class="upsell-product upsell-single-product" style="background: {{ block.settings.element_background_color }};">
        {% if block.settings.element_show_product_img %}
        <div class="upsell-product-img">
            {{ upsell_product.featured_image | image_url: width: 150 | image_tag: widths: '200, 300, 400', sizes: '(min-width:1600px) 960px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)', alt: 'upsell image' }}
        </div>
        {% endif %}
        <div class="upsell-product-info">
            {% if block.settings.element_show_vendor %}
                <h5 style="font-size: 10px; font-weight:500 ; color: #000000;">{{ upsell_product.vendor }}</h5>
            {% endif %}
            {% if block.settings.element_show_title %}
                <h3 style="font-size: 10px; font-weight:500 ; color: #000000;">{{ upsell_product.title }}</h3>
            {% endif %}
            {% if block.settings.element_show_short_description and block.settings.element_short_description != blank %}
                <p style="font-size: 7px; font-weight: 500; color: #000000;">{{ block.settings.element_short_description }}</p>
            {% endif %}
            {% if block.settings.element_show_price %}
                <div class="upsell-product-price">
                    {% render 'upsellprice', product: upsell_product %}
                </div>
            {% endif %}
            {% if block.settings.element_show_button %}
                <a href="{{ shop.url }}/cart/{{ upsell_product.selected_or_first_available_variant.id }}:1" target="blank" class="buy-btn" style="background: #000000; font-size: 6px; color: #fff; font-weight: 500;">Jetzt kaufen</a>
            {% endif %}
            
        </div>
    </div>
{% endif %}
{% schema %}
{
  "name": "Upsell Element",
  "target": "section",
  "settings": [
    { "type": "product", "id": "upsell_product", "label": "Product" },
    { "type": "checkbox", "id": "element_show_product_img", "label": "Show Product Image", "default": true },
    { "type": "checkbox", "id": "element_show_title", "label": "Show title", "default": true },
    { "type": "checkbox", "id": "element_show_vendor", "label": "Show Vendor", "default": true },
    { "type": "checkbox", "id": "element_show_short_description", "label": "Show Description", "default": true },
    { "type": "inline_richtext", "id": "element_short_description", "label": "Short Description", "default": "Sichere dir jetzt das Bundle" }, 
    { "type": "checkbox", "id": "element_show_price", "label": "Show Price", "default": true },  
    { "type": "checkbox", "id": "element_show_button", "label": "Show Cart Button", "default": true },
    { "type": "color", "id": "element_background_color", "label": "Background Color", "default": "#fff" },    
    { "type": "color", "id": "element_text_color", "label": "Text Color", "default": "#000000" },
    { "type": "color", "id": "element_button_background_color", "label": "Button Background Color", "default": "#000000" },
    { "type": "color", "id": "element_button_color", "label": "Button Color", "default": "#fff" },
    { "type": "text", "id": "element_button_text", "label": "Button Text", "default": "jetzt kaufen" }   
  ]
}
{% endschema %}

